.wallet-wrapper {
  padding: 10px 15px 0;
  width: calc(100% - 30px);
  height: 60px;
  display: flex;
  position: relative;
  .qr-code {
    background-image: url("/images/btcWallet.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    display: block;
  }
  .info {
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    .heading {
      font-weight: 500;
      font-size: 16px;
      line-height: 15px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #011c4d;
      opacity: 0.4;
    }
    .balance {
      font-weight: 400;
      font-size: 32px;
      line-height: 36px;
      color: #011c4d;
      margin-top: 1px;
    }
    .status-bar {
      width: 134px;
      height: 3px;
      background-color: #f2f4f6;
      position: relative;
      margin-top: 5px;
      .available {
        background-color: #80d5ff;
        height: 3px;
      }
    }
  }
}
