@font-face {
    font-family: 'TT Commons';
    font-weight: 400;
    src:url("./fonts/d07e46ea-8260-4883-bfa3-3a557cb93598.woff2") format("woff2"),url("./fonts/91318483-1660-41d7-be20-a7fedf82ee86.woff") format("woff");
}
/* @font-face {
    font-family: 'TT Commons';
    font-weight: 500;
    src:url("./fonts/43babb0e-6086-481c-a47c-bf8d35474219.woff2") format("woff2"),url("./fonts/50605419-ed6b-469a-bd38-50497cc71558.woff") format("woff");
} */
@font-face {
    font-family: 'TT Commons';
    font-weight: 500;
    src:url("./fonts/14028c16-9f95-49e1-a346-a3ff8f3c63f5.woff2") format("woff2"),url("./fonts/8990729d-b642-4528-97e2-11c0c1ea297e.woff") format("woff");
}